/* When create distance between one to another element its called margin */
.box10{
    width: 200px;
    height: 100px;
    background-color: red;
    margin: 10px 20px 20px 30px;
}
*{
    margin: 0%;
    padding: 0%;
}

.box11{
    width: 200px;
    height: 100px;
    background-color: red;
    margin: auto;
}