* {
    margin: 0px;
    bottom: 0px;
}

/* its static */
.box21{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: static;
}

/* its relative */
.box22 {
    width: 200px;
    height: 200px;
    background-color: orange;
    position: relative;
    left: 300px;
    top: 30px;
}

/* absolute */
.container{
    width: 600px;
    height: 600px;
    position: relative;
    border: 1px solid #333;
}

.box23 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    right: 0px;
    top: 30px;
}

/* fixed  */
/* <!-- Possition --> */
.box24 {

    width: 200px;
    height: 250px;
    color: blue;
    background-color: brown;
    position: sticky;
    top: 0;
    left: 0;
    border-radius: 30px;
}

/* sticky */